//$main-font-family: 'MS Trebuchet', sans-serif;
$main-font-family: 'Courier New', Courier, monospace;
$main-font-size: 14px;
$main-line-height: 20px;
$main-text-color: #f5f5f5;
//$main-shadow-color: #212121;
